$mdc-theme-primary: #00796b;
$mdc-theme-accent: #ff80ab;
$mdc-theme-background: #fff7f7;

@import "../node_modules/@material/theme/mdc-theme";

.mdc-toolbar {
  &__title-link {
    font-family: Roboto;
    color: $mdc-theme-background;
    text-decoration: none;
  }
}